.ui.inverted.segment, .ui.primary.inverted.segment{
    background: rgba(105,105,105, 0.9);
    color: rgb(255,255,255)
}

.ui.segment, .ui.primary.segment{
    background: rgba(227, 227, 227, 0.9);
}

.ui.top.attached.segment.cover{
    display: none
}